$greenColor:green;

.input-prepend .no-bg {
    background:none;
    border:none;
}

label.projection {
    color: $greenColor;
}

input.projection {
    background-color:$greenColor;
    color:white;
}
