/* augmenting bootstrap */
.navbar-inner {
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1), black); }

.container-fluid {
  margin-top: 50px; }

/* specific styles */
label.projection {
  color: #00a88f; }

input.projection {
  background-color: #00a88f;
  color: white; }

.footer {
  border-top: 1px solid #E5E5E5;
  margin-top: 45px;
  padding: 35px 0 36px; }

.footer-top-align {
  vertical-align: top; }
